@media(max-width:768px) {
    .logo img {
        width: 2rem;
    }

    .rodapeLogo h3 {
        display: none;
    }

    .footerTopics a {
        margin-right: 1rem !important;
    }

    .Rodape {
        padding: 1rem !important;
    }

    .nav li   {
        margin-inline: 0rem;
    }
}

.logo,
.logo div {
    display: flex;
    align-items: center;
}

.Rodape {
    padding: 3rem;
    display: flex;
    align-items: center;
    border-top: solid 1px #CACACA;
}

.footerTopics {
    display: flex;
}

.footerTopics a {
    text-decoration: underline;
    color: #136492;
}