.textFinalizacao{
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
}

.Finalizacao    {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 10rem;
}