@media(max-width: 768px){
    .Button{
        width: 18rem !important;
    }

    .inputBox div   {
        flex-direction: column;
    }

    .inputBox span  {
        position: relative;
        left: 20px;
    }

    .inputBox input, .selects {
        width: 18rem !important;
    }

    .inputBox2  div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .inputBox2 div span {
        position: relative;
        left: 20px;
    }

    .type div:nth-child(1) input{
        width: 3.5rem !important;
    }
    
    .type div:nth-child(2) input{
        width: 14.5rem !important;
    }
    
}

fieldset    {
    border: none;
}

.Button {
    transition: 0.2s;
    border-radius: 10rem;
    border: solid 3px #00a2ff;
    width: 28rem;
    padding-block: 10px;
    font-size: large;
    background-color: #01A1FC;
    color: white;
    cursor: pointer;
}

.Button:hover {
    transition: 0.2s;
    background-color: white;
    color: #01A1FC;
  }

.wrapper    {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 7rem;
}

.forms  {
    margin-top: 5rem;
}

.wrapper h2 {
    font-size: 48px;
}

.inputBox   {
    display: flex;
    flex-direction: column;
    margin-block: 1rem;
}

.inputBox div   {
    display: flex;
    justify-content: space-between;
}

.inputBox span  {
    color: rgb(222, 59, 59);
}

.inputBox input, .selects {
    transition: 0.2s;
    border: none;
    background-color: #EDEDED;
    width: 28rem;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 10rem;
}

.inputBox label {
    position: relative;
    left: 20px;
}

.inputBox2 label    {
    position: relative;
    left: 20px;
}

.inputBox2  {
    display: flex;
    flex-direction: column;   
}

.inputBox2  div {
    display: flex;
    justify-content: space-between;
}

.inputBox2 div span {
    color: rgb(222, 59, 59); ;   
}

.type   {
    display: flex;
}

.type div:nth-child(1) input, .cpjcnpj{
    padding-inline: 5px;
    transition: 0.2s;
    border: none;
    border-right: 1px solid black;
    background-color: #EDEDED;
    width: 5rem;
    padding-block: 10px;
    padding-left: 20px;
    border-radius: 10rem 0rem 0rem 10rem;
}

.type div:nth-child(2) input{
    padding-inline: 20px;
    transition: 0.2s;
    border: none;
    background-color: #EDEDED;
    width: 23rem;
    padding-block: 10px;
    padding-left: 20px;
    border-radius: 0rem 10rem 10rem 0rem;
}

.link   {
    margin-top: 1rem;
    font-size: large;
}