.userBike{

    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px dashed rgb(222, 222, 222);
    display: flex;
    align-items: center;
}

.list   {
    margin-top: 5rem;
    margin-inline: 12rem;
}

.line   {
    height: 5rem;
    margin-inline: 2rem;
}

.bikeIcon   {
    margin-right: 2rem;
    width: 4rem;
    height: auto;
}

.userBike div   {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.option {
    padding: 0.3rem;
    margin: 0.5rem;
    padding-inline: 1rem;
    border: none;
    font-size: medium;
    color: #fff;
    text-decoration: none;
    background-color: #01A1FC;
    cursor: pointer;
}

.optionVar  {
    background-color: red;
}
