.tituBike{
    margin-top: -260px;
}

.tituBike{
    margin-left: 90px;
}
.bikeIcon{
    width: 60px;
}


.linha1bike{
    width: 900px;
    margin-left: 80px;
}


.bikeStatus{
    color: black;
}




.linkCadas{
    margin-left: 90px;
    margin-top: 80px;
}