.CameraButton {
    transition: 0.2s;   
    font-size: large;
    border-radius: 50px;
    color: white;
    border: 3px solid #01A1FC;;
    background-color: #01A1FC;;
    width: 28rem;
    padding-block: 0.5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.CameraButton:hover {
    transition: 0.2s;
    color: #01A1FC;
    border: 3px solid #01A1FC;
    background-color: #fff;
    width: 28rem;
    padding-block: 0.5rem;
    margin-bottom: 5rem;
    display: flex;
    cursor: pointer;
    justify-content: center;
}

.box    {
    display: flex;
}

.validacao{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}