@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Jost:wght@500&display=swap');

.b1{
    font-size: 2rem !important;
}
.accountData{
    font-size: 20px;
}

.account    {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-inline: 12rem;
    margin-block: 2rem;
}

.AccountfirstBox    {
    display: flex;
}

.lock   input{
    color: white;
    background-color: rgb(156, 156, 156) !important;
    cursor: pointer;
}

.input2 input{
    width: 20rem !important;
}

.Button2 {
    width: 20rem !important;
}

.welcome    {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.welcome img   {
    width: 10rem;
    margin-right: 1rem;
    height: min-content;
}

.info div{
    transition: 0.2s;
    border: none;
    background-color: #EDEDED;
    width: 28rem;
    height: 2rem;
    padding-inline: 20px;
    border-radius: 10rem;
}

.logout{
    position: relative;
    top: 30px;
    width: 100px;
    height: 40px;
    background-color:#ff1500 ;
    border-color: none; 
    color: #EDEDED;
    border-radius: 50px;
}