.wrapper{

    margin-top: -70px;
}

.forms{
    margin-left: 3px;
    margin-top: 30px;
}

.Button2 {
    transition: 0.2s;
    border-radius: 10rem;
    border: solid 3px #00a2ff;
    width: 28rem;
    padding-block: 10px;
    font-size: large;
    background-color: #01A1FC;
    color: white;
    cursor: pointer;
    margin-top: 30px;
}

.Button2:hover {
    transition: 0.2s;
    background-color: white;
    color: #01A1FC;
  }